.main {
  display: flex;
  flex-direction: row;
  padding: 3vw;
}

.first {
  width: 50%;
}

.first img {
  width: 37vw;
  margin-top: 7vh;
  margin-left: -4vw;
}

.second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 535px;
}

.second p {
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: -4px;
  word-spacing: 5px;
}

.second h4 {
  font-size: 27px;
  font-weight: 400;
}

.one {
  width: 37px;
  height: 37px;
  text-align: center;
  background-color: #f7d105;
  border-radius: 2em;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  display: flex;
  flex-direction: row;
}

.part p {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  word-spacing: normal;
}

.container {
  margin-top: 6vh;
}
