.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
}

.first {
  width: 41vw;
  margin: 5vw;
  margin-top: 0;
}

.first h4 {
  font-size: 26px;
  font-weight: 300;
}
.second {
  background-color: #ffffff;
  padding: 25px;
  width: 45vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 52vh;
}

.second h4 {
  font-size: 20px;
  font-weight: 300;
}

.s1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.s11 {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 2rem;
  background-image: url("../public/harsh.jpg");
  background-size: 60px;
}

.s12 {
  width: 22vw;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}
.s12 h4 {
  font-size: 17px;
  font-weight: 100;
}

.s12 h3 {
  font-size: 27px;
}

.first p {
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: -7px;
  word-spacing: 4px;
  width: 41vw;
  line-height: 1;
}

@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .first p {
    font-size: 4rem;
    width: 100%;
    text-align: center;
  }

  .first {
    width: 100%;
  }

  .first h4 {
    display: none;
  }

  .second {
    width: 80%;
  }

  .s12 {
    width: 50%;
    margin-left: 3vw;
  }

  .s1 {
    justify-content: center;
  }
}
